<h1>
    TRIBE
</h1>
<div id="resources">
    <table class="table table-condensed table-bordered">
        <tr ng-repeat="resource in vm.resources">
            <td>{{resource.name}}: {{resource.quantity|number:2}} (<span
                    ng-style="{ color: resource.balance() > 0 ? 'green' : 'red' }">{{resource.balance()|number:2}}</span>)
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-md-4" id="population">
        <h3>Population: {{vm.getTotalPopulation()}}</h3>
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="item in vm.population">
                <td>Profession: {{item.profession.name}}</td>
                <td>Number: {{item.cardinality}}</td>
                <td>Food Consumption: {{(item.cardinality * item.profession.foodConsumption)|number:1}}</td>
                <td>Efficiency: {{(item.profession.efficiency * item.cardinality)|number:2}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" ng-click="vm.addWorker(item)"
                                ng-show="vm.availableWorkers() && item.profession.name!='idle'">+
                        </button>
                        <button class="btn btn-primary" ng-click="vm.removeWorker(item)"
                                ng-show="item.cardinality>0 && item.profession.name!='idle'">-
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Technology:</h3>
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="item in vm.availableTechs">
                <td>Name: {{item.name}}</td>
                <td>Price: {{item.price}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="vm.research(item)"
                            ng-show="item.price<=vm.resources['science'].quantity">Research
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div id="environment" class="col-md-4">
        <h3>Environment:</h3>
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="item in vm.environment">
                <td>Name: {{item.name}}</td>
                <td>Quantity: {{item.quantity | number:0}}</td>
            </tr>
        </table>
    </div>
</div>