<md-content>
    <div layout="column">
        <div layout="row" flex="20">
            <div flex="33" layout="row" layout-align="center center">
                <md-button class="md-raised md-primary"
                           ng-click="vm.paused=!vm.paused">
                    {{vm.paused?'Unpause':'Pause'}}
                </md-button>
                <md-button class="md-raised md-primary" ng-show="vm.sweetDebug"
                           ng-click="vm.gibbeMonies()">
                    Gibbe monies
                </md-button>
            </div>
            <div flex="33" layout="row" layout-align="center center">
                <h1>
                    TRIBE
                </h1>
            </div>
            <div flex="33" layout="row" layout-align="center center">
                <h2 ng-show="vm.calendarAccess">{{vm.date.format("Do MMMM YYYY")}}
                </h2>
            </div>
        </div>
        <div layout="row" flex="70" layout-align="space-around start">
            <section class="md-whiteframe-10dp" style="border-radius: 5px" layout="column">
                <div id="resources" flex>
                    <div layout="row" layout-align="center center">
                        <h3>Resources</h3>
                    </div>
                    <table class="table table-condensed table-bordered">
                        <tr ng-class="vm.resources['Children'].balanceNumber>0?'success':'info'">
                            <td>{{vm.resources['Children'].name}}</td>
                            <td>
                                <div class="progress-bar  progress-bar-striped " role="progressbar"
                                     aria-valuenow="{{vm.resources['Children'].quantity}}"
                                     aria-valuemin="0" aria-valuemax="1"
                                     style="width:{{vm.resources['Children'].quantity*100}}%"
                                     ng-class="vm.resources['Children'].balanceNumber > 0 ? 'progress-bar-success active ' : '' ">
                                    <span style="white-space: nowrap;color: black">{{vm.resources['Children'].quantity*100|number:0}}%
                                    ({{vm.resources['Children'].balanceNumber|number:2}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="resource in vm.resources" ng-if="resource.name != 'Children'"
                            ng-class="resource.balanceNumber>0?'success':resource.balanceNumber==0?'info':'danger'">
                            <td>
                                {{resource.name}}
                            </td>
                            <td>{{resource.quantity|number:2}} (<span
                                    ng-style="{ color: resource.balanceNumber > 0 ? 'green' :resource.balanceNumber==0?'black': 'red' }">{{resource.balanceNumber|number:2}}</span>)
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="environment" flex>
                    <div layout="row" layout-align="center center">
                        <h3>Environment</h3>
                    </div>
                    <table class="table table-condensed table-bordered table-hover">
                        <tr ng-repeat="item in vm.environment">
                            <td>{{item.name}}</td>
                            <td>{{item.quantity | number:0}} (<span
                                    ng-style="{ color: item.balance() > 0 ? 'green' :item.balance()==0?'black': 'red' }">{{item.balance()|number:2}}</span>)
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="md-whiteframe-10dp" style="border-radius: 5px" id="population">
                <div layout="row" layout-align="center center">
                    <h3>Population {{vm.getTotalPopulation()}}</h3>
                </div>
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                    <tr>
                        <td>Job</td>
                        <td>Quantity</td>
                        <td>Food Consumption <span
                                ng-show="vm.detailedView">(total: {{vm.getTotalFoodConsumed()|number:2}})</span></td>
                        <td>Efficiency</td>
                        <td>
                            <md-radio-group ng-model="vm.step">
                                <md-radio-button value="1" style="display: inline" class="md-primary" checked>1
                                </md-radio-button>
                                <md-radio-button ng-repeat="item in vm.availableSteps" style="display: inline"
                                                 value="{{item}}" class="md-primary">{{item}}
                                </md-radio-button>
                            </md-radio-group>
                        </td>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in vm.population">
                        <td>{{item.profession.name}}</td>
                        <td>{{item.cardinality}}
                        </td>
                        <td>{{(item.profession.foodConsumption)|number:1}} <span ng-show="vm.detailedView">(total: {{(item.cardinality * item.profession.foodConsumption)|number:1}}) </span>
                        </td>
                        <td>{{(item.profession.efficiency)|number:3}}<span ng-show="vm.detailedView">(total: {{(item.profession.efficiency * item.cardinality)|number:3}}) </span>
                            <md-button class="md-raised md-primary" ng-click="vm.upgrade(item.profession)"
                                       ng-show="vm.resources['Tools']"
                                       ng-disabled="item.profession.upgradeCost > vm.resources['Tools'].quantity">
                                Upgrade
                                ({{item.profession.upgradeCost|number:1}} Tools)
                            </md-button>
                        </td>
                        <td layout="row" layout-align="space-around center">
                            <md-button class="md-raised md-primary" aria-label="add" style="display:inline"
                                       ng-click="vm.addWorker(item)"
                                       ng-disabled="!(vm.availableWorkers() && item.profession.name!='Idle')">
                                +
                            </md-button>
                            <md-button class="md-raised md-primary" aria-label="add" style="display:inline"
                                       ng-click="vm.removeWorker(item)"
                                       ng-disabled="!(item.cardinality>0 && item.profession.name!='Idle')">
                                -
                            </md-button>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="md-whiteframe-10dp" style="border-radius: 5px" id="technology">
                <div layout="row" layout-align="center center">
                    <h3>Technology</h3>
                </div>
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Price</td>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in vm.availableTechs">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="vm.research(item)"
                                       ng-disabled="item.price>vm.resources['Science'].quantity">
                                Research
                                <md-tooltip md-direction="left">
                                    <md-list>
                                        <h5 style="display: block">
                                            Unlocks:
                                        </h5>
                                        <h6 style="display: block" ng-repeat="piece in item.unlocks">
                                            {{piece}}
                                        </h6>
                                    </md-list>
                                </md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        <div flex="10" ng-show="vm.philosophyAccess">
            <h2>No man's knowledge here can go beyond his experience</h2>
        </div>
    </div>
    <h4>Created by c2v4 for Ludum Dare #36</h4>
</md-content>