<h1>
    TRIBE
</h1>
<div id="resources">
    <span>Food: {{vm.resources.food|number:1}}</span>
    <span>Science: {{vm.resources.science|number:1}}</span>
</div>
<div class="row">
    <div class="col-md-4" id="population">
        <h3>Population: </h3>
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="item in vm.population">
                <td>Profession: {{item.profession.name}}</td>
                <td>Number: {{item.cardinality}}</td>
                <td>Total Food Consumption: {{(item.cardinality * item.profession.foodConsumption)|number:1}}</td>
                <td>Total Efficiency: {{(item.profession.efficiency * item.cardinality)|number:2}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" ng-click="vm.addWorker(item)"
                                ng-show="vm.availableWorkers() && item.profession.name!='idle'">+
                        </button>
                        <button class="btn btn-primary" ng-click="vm.removeWorker(item)"
                                ng-show="item.cardinality>0 && item.profession.name!='idle'">-
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Technology:</h3>
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="item in vm.availableTechs">
                <td>Name: {{item.name}}</td>
                <td>Price: {{item.price}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="vm.research(item)"
                            ng-show="item.price<=vm.resources.science">Research
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div id="environment" class="col-md-4">
        <h3>Environment:</h3>
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="item in vm.environment">
                <td>Name: {{item.name}}</td>
                <td>Quantity: {{item.quantity | number:0}}</td>
            </tr>
        </table>
    </div>
</div>